
.searchbox {
    display: flex;

    &__field:focus-within, &:hover > &__field {
        width: 600px;
        transition: width .3s ease-in-out;
    }

    &__field {
        display: flex;
        width: 60px;
        transition: width .3s ease-in-out;
        border-right: 1px solid var(--border-color);
        & > input {
            position: relative;
            width: 100%;
            color: var(--primary-color);
            font-size: 28px;
            background: var(--bg-color);
            border-color: var(--border-color);
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            padding: 10px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }

    &__button { 
        background: var(--bg-color);
        display: flex;
        width: 40px;
        padding: 0 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        &:active {
            background: var(--border-color);
            & > svg {
                fill: var(--bg-color);
            }
        }
    }
}